.scrollbars-visible-always {
  /deep/ ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  /deep/ ::-webkit-scrollbar-track,
  /deep/ ::-webkit-scrollbar-corner {
    background: none;
  }

  /deep/ ::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: @snazzy-1;
    background-clip: content-box;

    &:active,
    &:hover {
      background: @snazzy-2;
    }
  }

  atom-text-editor,
  .settings-view {
    /deep/ ::-webkit-scrollbar-track,
    /deep/ ::-webkit-scrollbar-corner {
      background: none;
    }

    /deep/ ::-webkit-scrollbar-thumb {
      background: @snazzy-1;

      &:active,
      &:hover {
        background: @snazzy-2;
      }
    }
  }
}