@very-light-gray: #f1f1f0; // snazzy-white
@light-gray: #969896;  // snazzy-dim
@gray: #79797A;
@dark-gray: #5A5C5D;
@very-dark-gray: #1d1f21;  // snazzy-gray

@cyan: #9aedfe; // snazzy-cyan
@blue: #57c7ff; // snazzy-blue
@purple: #ff6ac1; // snazzy-magenta
@green: #5af78e; // snazzy-green
@red: #ff5c57; // snazzy-red
@yellow: #f3f99d; //snazzy-yellow

// mixed from snazzy-red & snazzy-yellow
@orange: #F8AA7A;
// mixed from snazzy-red & 2 * snazzy-yellow
@light-orange: #F6C486;

@dark-blue: #4295BE;
@dark-cyan: #7FC2D0;
@dark-purple: #D1579E;
@dark-green: #42B468;
@dark-red: #D14C48;
@dark-orange: #CB8C64;
@dark-yellow: #DDE38F;
